
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Carousel Start -->
<div class="container-fluid p-0">
    @{ Html.RenderAction("Carousel", "Home"); }
</div>
<!-- Carousel End -->

<!-- Category Start -->
<div class="container-xxl py-1">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item rounded p-3" href="">
                    <i class="bi bi-briefcase"></i>
                    <div class="cat-right">
                        <h6 class="mb-1">@ViewBag.JobCount</h6>
                        <p class="mb-0">Công việc</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item rounded p-3" href="">
                    <i class="bi bi-building"></i>
                    <div class="cat-right">
                        <h6 class="mb-1">@ViewBag.CompanyCount</h6>
                        <p class="mb-0">Công ty</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item rounded p-3" href="">
                    <i class="bi bi-people"></i>
                    <div class="cat-right">
                        <h6 class="mb-1">@ViewBag.UserCount</h6>
                        <p class="mb-0">Người dùng</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item rounded p-3" href="">
                    <i class="bi bi-card-checklist"></i>
                    <div class="cat-right">
                        <h6 class="mb-1">@ViewBag.JobCountNew</h6>
                        <p class="mb-0">Công việc mới</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->

<div class="container-xxl py-5 box-categoryJob">
    <div class="container">
        <div class="title d-flex">
            <h4 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Ngành nghề phổ biến</h4>
            <a href="/nganh-nghe" class="button" style="font-size: 14px; height: max-content; border: none; background: none; color: #25316D;">
                Xem tất cả
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>

        <div class="tab-content" data-wow-delay="0.3s">
            @{ Html.RenderAction("ListCareer", "Career"); }
        </div>
    </div>
</div>
<!-- Jobs Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="title d-flex">
            <h4 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Công việc nổi bật</h4>
            <a href="/cong-viec" class="button" style="font-size: 14px; height: max-content; border: none; background: none; color: #25316D;">
                Xem tất cả
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    @Html.Partial("JobNewList")
                    <a class="btn btn-primary py-3 px-5 btn-viewAll" href="/cong-viec">Xem nhiều công việc hơn</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jobs End -->
<!-- Category Start -->
<div class="container-xxl py-1 jobsCategory py-5" style="background: #E7F0FA;">
    <div class="container">
        <div class="title d-flex">
            <h4 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Danh mục</h4>
            <a href="/danh-muc-cong-viec" class="button" style="font-size: 14px; height: max-content; border: none; background: none; color: #25316D;">
                Xem tất cả
                <i class="bi bi-arrow-right-short"></i>
            </a>
        </div>
        @{ Html.RenderAction("ListJobCategry", "JobCategory"); }
    </div>
</div>
<!-- Category End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="~/Assets/Client/JobsFinder/img/imgJobsDetail1.jpeg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="~/Assets/Client/JobsFinder/img/banner2.jpeg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="~/Assets/Client/JobsFinder/img/banner3.jpeg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="~/Assets/Client/JobsFinder/img/banner4.jpeg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Hỗ trợ tìm kiếm việc làm tốt nhất và ứng viên tiềm năng.</h1>
                <p class="mb-4">Tìm việc mơ ước dễ dàng - duyệt hàng nghìn việc làm và nộp đơn ngay hôm nay trên nền tảng tìm kiếm việc làm của chúng tôi.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Hàng ngàn công việc khác nhau</p>
                <p><i class="fa fa-check text-primary me-3"></i>Kết nối doanh nghiệp dễ dàng</p>
                <p><i class="fa fa-check text-primary me-3"></i>Hoàn toàn miễn phí</p>
                <a class="btn btn-primary py-3 px-5 mt-3 btn-viewAll" href="">Xem thêm các bài viết</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp listCategory" data-wow-delay="0.1s" style="background: #E7F0FA;">
    @{ Html.RenderAction("Testimonial", "Company"); }
</div>
<!-- Testimonial End -->
<section class="section pb-0" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5" data-wow-delay="0.5s">
                <h2 class="h5 section-title">Dành cho bạn</h2>
                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="~/Assets/Client/Blog/images/post/post-1.jpg" class="card-img-top" alt="post-thumb">
                    </div>

                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">Use apples to give your bakes caramel and a moist texture</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <a href="author-single.html" class="card-meta-author">
                                    <img src="~/Assets/Client/Blog//images/john-doe.jpg">
                                    <span>Charls Xaviar</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-timer"></i>2 Min To Read
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>14 jan, 2020
                            </li>
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item"><a href="tags.html">Color</a></li>
                                    <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                                    <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
                        <a href="post-details.html" class="btn btn-outline-primary">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 mb-5" data-wow-delay="0.7s">
                <h2 class="h5 section-title">Xu hướng</h2>

                <article class="card mb-4">
                    <div class="card-body d-flex">
                        <img class="card-img-sm" src="~/Assets/Client/Blog//images/post/post-3.jpg">
                        <div class="ml-3" style="margin-left: 16px;">
                            <h4><a href="post-details.html" class="post-title">Advice From a Twenty Something</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    <i class="ti-calendar"></i>14 jan, 2020
                                </li>
                                <li class="list-inline-item mb-0">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-body d-flex">
                        <img class="card-img-sm" src="~/Assets/Client/Blog/images/post/post-2.jpg">
                        <div class="ml-3" style="margin-left: 16px;">
                            <h4><a href="post-details.html" class="post-title">The Design Files - Homes Minimalist</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    <i class="ti-calendar"></i>14 jan, 2020
                                </li>
                                <li class="list-inline-item mb-0">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>

                <article class="card mb-4">
                    <div class="card-body d-flex">
                        <img class="card-img-sm" src="~/Assets/Client/Blog/images/post/post-4.jpg">
                        <div class="ml-3" style="margin-left: 16px;">
                            <h4><a href="post-details.html" class="post-title">The Skinny Confidential</a></h4>
                            <ul class="card-meta list-inline mb-0">
                                <li class="list-inline-item mb-0">
                                    <i class="ti-calendar"></i>14 jan, 2020
                                </li>
                                <li class="list-inline-item mb-0">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 mb-5" data-wow-delay="0.9s">
                <h2 class="h5 section-title">Phổ biến</h2>

                <article class="card">
                    <div class="post-slider slider-sm">
                        <img src="~/Assets/Client/Blog/images/post/post-5.jpg" class="card-img-top" alt="post-thumb">
                    </div>
                    <div class="card-body">
                        <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">How To Make Cupcakes and Cashmere Recipe At Home</a></h3>
                        <ul class="card-meta list-inline">
                            <li class="list-inline-item">
                                <a href="author-single.html" class="card-meta-author">
                                    <img src="~/Assets/Client/Blog/images/kate-stone.jpg" alt="Kate Stone">
                                    <span>Kate Stone</span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-timer"></i>2 Min To Read
                            </li>
                            <li class="list-inline-item">
                                <i class="ti-calendar"></i>14 jan, 2020
                            </li>
                            <li class="list-inline-item">
                                <ul class="card-meta-tag list-inline">
                                    <li class="list-inline-item"><a href="tags.html">City</a></li>
                                    <li class="list-inline-item"><a href="tags.html">Food</a></li>
                                    <li class="list-inline-item"><a href="tags.html">Taste</a></li>
                                </ul>
                            </li>
                        </ul>
                        <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
                        <a href="post-details.html" class="btn btn-outline-primary">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-12">
                <div class="border-bottom border-default"></div>
            </div>
        </div>
        <a class="btn btn-primary py-3 px-5 btn-viewAll mt-5" href="/tin-tuc">Xem nhiều tin tức hơn</a>
    </div>
</section>
