@model Model.EF.DuAn

@{
    var session = (JobsFinder_Main.Common.UserLogin)Session[JobsFinder_Main.Common.CommonConstants.USER_SESSION];
}

@if (session != null)
{
    <div id="formDuAn@(Model.ID)" class="p-4 form-profile">
        @using (Html.BeginForm("Update", "DuAn", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h5 class="m-0">Dự án</h5>
            <hr class="my-3" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mb-4">
                <p class="label-title">Tên dự án</p>
                <div class="col-md-10" style="width: 100%">
                    @Html.TextBoxFor(model => model.TenDuAn, new { @class = "form-control", @placeholder = "Tên dự án" })
                    @Html.ValidationMessageFor(model => model.TenDuAn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                <p class="label-title">Tên khách hàng</p>
                <div class="col-md-10" style="width: 100%;">
                    @Html.TextBoxFor(model => model.TenKhachHang, new { @class = "form-control", @placeholder = "Tên khách hàng" })
                    @Html.ValidationMessageFor(model => model.TenKhachHang, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                <p class="label-title">Số lượng thành viên</p>
                <div class="col-md-10" style="width: 100%;">
                    @Html.TextBoxFor(model => model.SoThanhVien, new { @class = "form-control", @placeholder = "Số lượng thành viên", @type = "number" })
                    @Html.ValidationMessageFor(model => model.SoThanhVien, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                <p class="label-title">Vị trí</p>
                <div class="col-md-10" style="width: 100%;">
                    @Html.TextBoxFor(model => model.ViTri, new { @class = "form-control", @placeholder = "Vị trí trong nhóm" })
                    @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                <p class="label-title">Nhiệm vụ</p>
                <div class="col-md-10" style="width:100%;">
                    @Html.TextBoxFor(model => model.NhiemVu, new { @class = "form-control", @placeholder = "Nhiệm vụ" })
                    @Html.ValidationMessageFor(model => model.NhiemVu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mb-4">
                <p class="label-title">Công nghệ sử dụng</p>
                <div class="col-md-10" style="width: 100%;">
                    @Html.TextBoxFor(model => model.CongNgheSuDung, new { @class = "form-control", @placeholder = "NodeJS, ASP.NET,..." })
                    @Html.ValidationMessageFor(model => model.CongNgheSuDung, "", new { @class = "text-danger" })
                </div>
            </div>

            <label class="mb-4">
                <input type="checkbox" id="kinhNghiemCheckbox" class="checkbox" />
                Tôi đang làm việc ở đây
            </label>

            <div class="d-flex flex-row justify-content-between">
                <div id="kinhNghiemnBatDau" class="d-flex justify-content-between" style="width: 48%">
                    <div class="form-group mb-4">
                        <p class="label-title">Tháng bắt đầu</p>
                        <div class="col-md-10" style="width: 100%;">
                            @Html.DropDownListFor(model => model.ThangBatDau, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Chọn tháng", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ThangBatDau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <p class="label-title">Năm bắt đầu</p>
                        <div class="col-md-10" style="width: 100%;">
                            <div class="col-md-10" style="width: 100%;">
                                @{
                                    int currentYear = DateTime.Now.Year;
                                    int startYear = currentYear - 100;
                                    List<SelectListItem> years = new List<SelectListItem>();
                                    for (int year = currentYear; year >= startYear; year--)
                                    {
                                        years.Add(new SelectListItem { Value = year.ToString(), Text = year.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.NamBatDau, years, "Chọn năm", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NamBatDau, "", new { @class = "text-danger" })
                            </div>

                            @Html.ValidationMessageFor(model => model.NamBatDau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div id="kinhNghiemKetThuc" class="d-flex justify-content-between boxKetThuc" style="width: 48%">
                    <div class="form-group mb-4">
                        <p class="label-title">Tháng kết thúc</p>
                        <div class="col-md-10" style="width: 100%;">
                            @Html.DropDownListFor(model => model.ThangKetThuc, Enumerable.Range(1, 12).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), "Chọn tháng", new { @class = "form-control thangKetThuc" })
                            @Html.ValidationMessageFor(model => model.ThangKetThuc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <p class="label-title">Năm kết thúc</p>
                        <div class="col-md-10" style="width: 100%;">
                            <div class="col-md-10" style="width: 100%;">
                                @{
                                    for (int year = currentYear; year >= startYear; year--)
                                    {
                                        years.Add(new SelectListItem { Value = year.ToString(), Text = year.ToString() });
                                    }
                                }
                                @Html.DropDownListFor(model => model.NamKetThuc, years, "Chọn năm", new { @class = "form-control namKetThuc" })
                                @Html.ValidationMessageFor(model => model.NamKetThuc, "", new { @class = "text-danger" })
                            </div>

                            @Html.ValidationMessageFor(model => model.NamKetThuc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <p class="label-title">Mô tả</p>
                <div class="col-md-10" style="width: 100%;">
                    @Html.TextAreaFor(model => model.MoTaChiTiet, new { @class = "form-control pt-2", @placeholder = "Mô tả chi tiết" })
                    @Html.ValidationMessageFor(model => model.MoTaChiTiet, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                <p>Thêm hình ảnh hay liên kết về kinh nghiệm của bạn</p>
                <div class="d-flex flex-row justify-content-between">
                    <div class="col-md-10" style="width:48%;">
                        @Html.TextBoxFor(model => model.Img, new { @class = "form-control" })
                        <a class="btn btn-outline-primary" id="btnChooseImage_1" style="white-space: nowrap; border-radius: 4px; margin-left: 24px; font-size: 14px; font-weight: 400; text-transform: capitalize" href="#">Tải lên</a>
                        @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-10" style="width: 48%;">
                        @Html.TextBoxFor(model => model.LienKet, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LienKet, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

            <div class="form-group mb-2">
                <div class="col-md-offset-2 col-md-10 d-flex justify-content-center" style="width: 100%">
                    <input type="submit" value="Hoàn tất" class="btn btn-primary" style="border-radius: 4px;" />
                </div>
            </div>
        </div>
        }
    </div>
}
else
{
    { Html.RenderAction("Login", "User"); }
}
